@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lato:wght@300;400;700;900&display=swap');


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    width: 100%;
    padding: 180px 0px 0px 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .profile {
    width: 100%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero p {
    display: none;    
  }
}


body {
  margin:0px;
  padding:0px;
  background:#ffffff;
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-right: 50px;
  transition: ls;
}

.work {
  margin-left: auto;
  display: flex;
}
#navbar a:link {
  text-decoration: none;
  color: black;
  margin: 0px 25px;
  padding: 20px 20px;
  letter-spacing: 0.15em; 
}

a:link {
  text-decoration: none;
  color: black;
  letter-spacing: 0.15em;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #E75737;
}

a:active {
  text-decoration: none;
  color: black;
}



h1 {
  letter-spacing: 0.05em;
  padding: 326px 75px 0px 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:black;
  float: left;
  font-weight: 400;
  }

.profile {
  display: flex;
  flex-direction: row;
  padding: 200px 0px 200px 0px; }

.hero p {
  margin: 5px 100px 0px 300px;  
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: black;
  float: left;
  line-height: 35px;
}

#navbar .top {
  font-family: 'Montserrat';
  color: black;
  font-size: 35px;
  margin-left: 50px;
  margin-right: 20px;
}

/* Slideshow container */
.slideshow-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.mySlides {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  width: 700px;
  height: auto;
}

.button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  
}
.dot {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  margin: 0 10px;
  margin-bottom: 160px;
  border-radius: 20px;
  }
  
.active, .dot:hover {
  background-color: #ff7474;
}



.font5 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 15px;
  margin: 0px 10px 0px 0px;
  font-weight: 400;
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
}

h4 {
  letter-spacing: 0.05em;
  padding-top: 93px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:black;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.martys {
  width: 670px;
  height: 378px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
} 

h2 {
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: rgb(58, 58, 58);
  margin: 0px 0px 30px 0px;
  font-weight: 400;
}

h3 {
  padding-top: 20px;
  line-height: 0.05em;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.banner-martys {
  height: 660px;
  width: auto;
  background: #0f606b; 
}

.banner-diary {
  height: 660px;
  width: auto;
  background: #6eb4b9; 
}

.banner-tilde {
  height: 660px;
  width: auto;
  background: #ff7474; 
}

.img-project {
  padding-top: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-project h3 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 48px;
  margin-top: 140px;
  margin-left: 300px;
}

.content-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  line-height: 30px;
  letter-spacing: 0.05em;

}

.overview p {
  padding-right: 150px;
}


.bottom-space {
  padding: 0px;
  text-align: center;
  color: white;
}

.bottom-space img {
  width:100%
  }

h6 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 50px;
  margin-top: 93px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}


span p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
  letter-spacing: 1em;
  display: flex;
  justify-content:space-between;
  margin: 0px 560px;
  padding-bottom: 100px;
}


footer {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  display: flex;
  padding: 20px 50px 20px 50px ;
}

 footer .top-page {
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;

} 